.study{
    width: 95%;
    height: 30px;
    margin-top: 10px;
    border-radius: 4px;
}

.degDate{
    display: flex;
    gap: 30px;
    font-style: italic;
}

.degree{
    width: 400px;
    height: 30px;
    border-radius: 4px;
    gap: 15px;
}

.degreeDate{
    width: 400px;
    height: 30px;
    border-radius: 4px;
    gap: 15px;

}

.degreeDescription{
    width: 95%;
    height: 150px;
    margin: 10px 0px;
    border-radius: 4px;
}

.backEdu{
    background-color: #6B40E3;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 18px 60px 18px 60px;
    width: 160px;
    position:relative;
    top: 25%;
    left: 10%;
}


.submit{
    background-color: #6B40E3;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 18px 60px 18px 60px;
    position:relative;
    top: 25%;
    left: 60%;
}