*{
    word-wrap: break-word;
}

body{
    color: #474747;
}

.ai-chevron-left{
    position: absolute;
    left: 60px;
    top: 5%;
    color: #2E2E2E;
}

.cv{
    width: 40%;
    height: 90%;
    position: absolute;
    left: 25%;
    top: 5%;
    border: 1px solid #000000;
}

.logo{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-100%, -100%);
}

.congrats{
    width: 430px;
    height: 170px;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
    box-shadow:  5px 5px 5px 5px #E4E4E4;
    
    position: absolute;
    right: 5%;
    top: 5%;
}

.congrats > div{
    margin: 28px 30px 30px 30px;
    font-size: 30px;
    font-weight: 700;
}

.close{
    position: absolute;
    right: 10px;
    top: 10px;
    
}